h2{
   
    text-align: center;
    margin-top: 80px;
}
.wrapper__boxes
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.box{
    width: 200px;
    margin:15px;  
}
.box:nth-child(2){
    width:400px;
}

.wrapper__logos
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    img{
        padding:8px;
        width: 80px;
        height: 100%;
    }
}