h2{
   
    text-align: center;

}
.img__Technology
{
    width: 60%;
    &:hover{width: 80%;}
}
.wrapper__boxes
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
}

@media screen and (min-width: 1000px){
.wrapper__logos
{
   
    background: url(../images/technology.png);   
    background-position: center center;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    
    background-repeat: no-repeat;
    h2{
        padding-top:100px;
    }
    
}
}
//880
