h2{
   
    text-align: center;
    margin-top: 80px;
}
.wrapper__boxes
{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.box{
    width: 200px;
    height:200px;
    border:solid 3px black; 
    margin:15px;
  
}