h2{
   
    text-align: center;
  
}
.container
{
      
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../images/contact-backg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 300px;
   
    text-align: center;
    margin:15px;
       h2{
           margin-top:0;
       }
}
.section__title
{
    margin-top:80px;
}