h2{
   
    text-align: center;
  
}
.container
{
      
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    background-image: url(../images/contact-backg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.box{
    width: 300px;
    img{
        margin-right: 30px;
    }
    text-align: center;
    
    margin:15px;
       h2{
           margin-top:0;
       }
}
.section__title
{
    margin-top:80px;
}