footer{

    clear: both;
    position: relative;
    height: 60px;
    margin-top: 20px;
    bottom: 0;
    background: radial-gradient(circle, (#1a1a1b) 0%, rgb(21, 61, 77) 100%);
}

.container{
   

    p{
        color:white;
        text-align: center;
    }
    display: flex;
    justify-content: space-evenly;

}
.box{
    width: 40%;
    height: 50px;
}