footer{

    clear: both;
    position: relative;
    height: 100px;
    margin-top: 20px;
    bottom: 0;
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container{
   

    p{
        color:#737373;
        text-align: center;
    }
    display: flex;
    justify-content: space-evenly;

}
.box{
    width: 40%;
    height: 50px;
}