.container{ color:green;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:space-around;
    max-width: 500px;
    margin:0 auto;
    
 a{
    text-decoration: none;
    display: block;
    width: 60px;
 }
}
   
.navigation{
   margin-top:50px;
   
}

.header__graphics{

   clip-path: polygon(100% 0px, 0px 0px, 0px 80%, 50% 100%, 100% 80%);
   height: 100px;
   position: relative;
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   overflow: hidden;
}
a{
   text-decoration: none;
   color:white;
}