.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
  
    h2{
        text-align: left;
        
    }}
    .statisctcs__container{
        display: flex;
        width: 80%;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        p{
            text-align: center;
            margin-top:15px;
        }
        span{
    
     display: block;
     text-align: center;
     border-radius: 50%;
     border:1px solid blue;
     padding:20px;
     padding-top:34px;
     padding-bottom: 34px;
     margin:0 auto;
     width: 50px;
     font-weight: bold;
     color:blue;}
       
    }

    .content__section__title{width: 100%;}

.wrapper__statistics{
    display: flex;
    flex-wrap: wrap;
    
}
.box{
    width:60%;   
    margin:10px;
    padding: 15px;
    &:nth-child(2){
        text-align: center;
        width: 500px;
    }

    
img{
    width: 70%;
    margin:auto 0;
}
    
}


@media screen and (max-width: 576px){
    .main__title {
    font-size: 2rem;
    line-height: 2.7rem;
}}

@media screen and (max-width: 768px){
    .main__title {
    font-size: 2.51984rem;
    line-height: 2.9rem;
}}

@media screen and (max-width: 1000px){
    .main__title {
    font-size: 2.51984rem;
    line-height: 2.9rem;
}}