

.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
align-items: center;
  
    h2{
        text-align: left;
        
    }}
    .statisctcs__container{
        display: flex;
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
       
        text-align: center;
        span{
    
     display: block;
     text-align: center;
     border-radius: 50%;
     border:1px solid blue;
     padding:20px;
     padding-top:34px;
     padding-bottom: 34px;
     margin:0 auto;
     width: 50px;
     font-weight: bold;
     color:blue;}
       
    }

.content__section__title{width: 100%;}
.card__wrapper
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    width: 50%;
    
}
.content__section__img
{
    text-align: center;
    
 
    img{width:90%;}
   
}
.titleSection__card{

box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
background: white;
width: 24%;
color:black;
height: 150px;
border-radius: 20px;
text-align: center;
padding: 30px;
background-size: cover;
margin:25px;
color:white;
font-size: 700;

&:nth-child(1)
{background-image: url(../images/communication-device-electronic-1430366.jpg);}
&:nth-child(2){background-image: url(../images/art-creative-design-5836.jpg);}
&:nth-child(3){background-image: url(../images/blur-connection-ecommerce-230544.jpg);}
&:nth-child(4){background-image: url(../images/blur-cellphone-close-up-196644.jpg);}

}



.card__section{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    width: 100%;
    margin:0 auto;
   

}
@media screen and (min-width: 1000px){
    .card__section{
    background: url(../images/background-gradient.svg);
    background-position-x: 50%;
    background-position-y: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;}
  

}

@media screen and (min-width: 1600px){
    .card__section{
    background: url(../images/background-gradient.svg);
    background-position-x: 50%;
    background-position-y: 65%;
    background-size: cover;
        background-repeat: no-repeat;}

}


.wrapper__statistics{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin:10px;
    justify-content: center;
}
.item__statistics{
    margin:30px;
}


.box{
    width:60%;   
    margin:10px;
    padding: 15px;
    &:nth-child(2){
        text-align: center;
        width: 500px;
    }

    
img{
    width: 70%;
    margin:auto 0;
}
    
}


@media screen and (max-width: 576px){
    .card__section{
        
        width: 95%;
    }
    .card__wrapper
{ width: 90%;}
    .main__title {
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-align: justify;
    .content__section__img{
    text-align: center;
    margin-top:20px;
     max-width: 260px;
}




.titleSection__card{ 
    width: 80%;  

    }

}
.item__statistics{
    margin:10px;
}}

@media screen and (max-width: 768px){
    .card__section{
        
        width: 95%;
    }
    .card__wrapper
{ width: 90%;}
    .main__title {
        text-align: justify;
    font-size: 1.3rem;
    line-height: 1.6rem;
    .content__section__img{
        text-align: center;
        margin-top:20px;
    }
}
.item__statistics{
    margin:10px;
}
.titleSection__card{ 
    width: 80%;    
    }



}

@media screen and (max-width: 1000px){
    .card__section{
        
        width: 95%;
    }
    .card__wrapper
{ width: 90%;}
    .main__title {
        max-width: 600px;
        padding:  0 20px;
        text-align: justify;
    font-size: 1.3rem;
    line-height: 1.6rem;
    .content__section__img{
        text-align: center;
        margin-top:20px;
        width: 90%;
    }
}
.item__statistics{
    margin:10px;
}



}
@media screen and (max-width: 665px){
    .titleSection__card{ 
        width: 70%;    
        }

.titleSection__card:nth-child(3){
    order: 3;
}

}

.main__header{
    text-align: center;
}

.container__header{

    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    img{
        width:280px;
    }
}

@media screen and (min-width: 1000px){

    .main__title{
        text-align: center;
        width: 600px;
        font-size: 1.5rem;  
        padding-right:50px;      
    }

    .container__header{      
        img{
            width:300px;
            margin-bottom: 70px;
        }
    }
    .titleSection__card{

    &:hover {
        
        transform: scale(1.1); 
    }
    &:nth-child(even){
        margin-top:-30px;}
    }
}


.about__container
{
    width: 500px;
    text-align: justify;
}

.img__titleSection{
    order: 0;
}
.main__title{
    order: 1;

}